<section class="content-header">
  <h1>
    Todos os Restaurantes
    <a class="search-link pull-right" (click)="toggleSearch()"><i class="fa fa-search"></i></a>
  </h1>
</section>

<div class="row search-bar">
  <div class="col-xs-12" [@toggleSearch]="searchBarState">
    <form [formGroup]="searchForm">
      <div class="form-group">
        <input type="text" formControlName="searchControl" class="form-control" placeholder="O que você está procurando">
      </div>
    </form>
  </div>
</div>


<section class="content">
  <div class="row">
          <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
          <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
        </div>
        <div *ngIf="restaurants?.length === 0" class="col-xs-12">
          <p class="lead text-center">
            A sua busca não retornou resultados
          </p>
        </div>
  </div>
</section>